---
/** Common Component */
import Title from '@components/common/section/title.astro';
import Sort from '@components/common/sort/sort.astro';
import Category from '../collapse/category.astro';
import SortSelector from '../sort/sortSelector.astro';
import ArticleOffcanvas from '@components/common/article/articleOffcanvas.astro';
/** Button */
import Button from '@components/common/button/button.astro';
import ShowMore from '@components/common/section/showMore.astro';
import Loading from '@components/common/section/loading.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    title?: string;
    total?: number;
    sortDate?: select;
    category?: category;
    mode?: 'gray' | 'white';
}

const {
    IDName,
    className,
    style,
    attribute = {},
    title = '',
    total = 0,
    sortDate = [],
    category = [],
    mode = 'gray'
} = Astro.props as Props;
---

<div
    id={IDName}
    class:list={[
        className,
        ':uno-section-articles-list: sect-p-sm md:sect-p-md xl:sect-p-lg bg-[var(--section-bg-color)]',
        { ':uno-section-articles-dark-list: [--section-bg-color:var(--color-gray-50)]': mode === 'gray' },
        { ':uno-section-articles-light-list: [--section-bg-color:var(--color-white)]': mode === 'white' }
    ]}
    style={style}
    {...attribute}
>
    <div class=":uno-section-articles-list-inner: container-fluid">
        <Title title={title} />
        <div class=":uno-article-mobile-category: flex md:hidden items-end gap-0.5rem mb-1.5rem">
            <div class=":uno-article-mobile-sort-selector: grow">
                <SortSelector data={sortDate} />
            </div>
            <Button
                variant="blue"
                size="sm"
                title="篩選"
                attribute={{
                    'data-bs-toggle': 'offcanvas',
                    'data-bs-target': `#${IDName}ArticleOffcanvas`,
                    'aria-controls': `${IDName}ArticleOffcanvas`,
                    'data-title': '篩選',
                    'data-category-button': ''
                }}
            >
                篩選
            </Button>
        </div>
        <div class=":uno-article-list-container: space-y-1rem">
            <Sort total={total} data={sortDate} />
            <div class=":uno-article-list-content: flex flex-col md:flex-row md:gap-1.25rem">
                <Category
                    className=":uno-article-category: hidden md:block flex-none w-11.0625rem lg:w-19.6875rem"
                    data={category}
                />
                <div class=":uno-article-list-grid-container: space-y-2rem">
                    <div id="article-list-grid" class=":uno-article-list-grid: grid grid-cols-1 lg:grid-cols-2 gap-1.25rem">
                        <slot />
                    </div>
                    <ShowMore />
                    <template id="article-loading-template">
                        <Loading style={{ 'grid-column': 'span 2 / span 2' }} />
                    </template>
                </div>
            </div>
        </div>
    </div>
</div>
<ArticleOffcanvas IDName={`${IDName}Article`} category={category} />
