---
/** Common Component */
import Swiper from '@components/common/swiper/swiper.astro';
import Pagination from '../pagination/pagination.astro';
import NavigatiorArrow from '../icons/arrows/navigatiorArrow.astro';
/** Style */
import './relative.scss';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    title?: string;
    count?: number;
    type?: 1 | 2 | 3;
}

const { IDName, className, style, attribute = {}, title = 'Title', count = 1, type = 1 } = Astro.props as Props;
---

<div
    class:list={[
        className,
        ':uno-section-relative: overflow-hidden',
        { ':uno-section-relative-1: sect-p-sm md:sect-p-md xl:sect-p-lg': type === 1 },
        { ':uno-section-relative-2: sect-p-sub-md-t md:sect-p-sub-lg-t xl:sect-p-sub-xl-t': type === 2 },
        { ':uno-section-relative-3: sect-p-sub-sm-t md:sect-p-sub-md-t xl:sect-p-sub-lg-t': type === 3 }
    ]}
    style={style}
    {...attribute}
>
    <div class=":uno-section-relative-inner: flex flex-col items-center justify-center">
        <h2
            class=":uno-section-relative-title: flex items-center justify-center pb-2rem xl:pb-3rem text-gray-900 font-tt-medium text-30 md:text-36 xl:text-44 lh-120 font-medium text-center"
        >
            {title}
        </h2>
        <Swiper
            IDName={IDName}
            className="section-relative-swiper-container"
            swiperClassName="section-relative-swiper"
            attribute={{
                'data-slides-per-group': '1,2,3',
                'data-total-slides': count,
                'data-target-pagination': `#${IDName}-pagination`,
                'data-visible': '6'
            }}
        >
            {
                Array.from({ length: count }).map((_, index) => (
                    <div class="swiper-slide" data-index={index + 1} tabindex="-1">
                        <slot />
                    </div>
                ))
            }
            <Fragment slot="outspace">
                <div class="section-relative-navigatior-arrow section-relative-navigatior-arrow--prev">
                    <NavigatiorArrow direction="left" />
                </div>
                <div class="section-relative-navigatior-arrow section-relative-navigatior-arrow--next">
                    <NavigatiorArrow direction="right" />
                </div>
            </Fragment>
        </Swiper>
        <!-- 
            記得在 1 的後面加上 ... (<span class="pagination__ellipsis" aria-hidden="true" style="display: none;">...</span>)
            與最後一頁的前面加上 ... (<span class="pagination__ellipsis" aria-hidden="true" style="display: none;">...</span>)
        -->
        <Pagination
            IDName={`${IDName}-pagination`}
            className="section-relative-pagination"
            total={count}
            visiblePages={count}
            noDisabled
            hasDataValue
        />
    </div>
</div>
