---
/** Common Component */
import ChoiceButton, { type Props as ChoiceButtonProps } from '@components/common/form/checkboxs/choiceButton.astro';
/** Style */
import './productConfig.scss';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    title?: string;
    price?: string;
    priceDescription?: string;
    optionHint?: string;
    showColorSelector?: boolean;
    showPriceTag?: boolean;
    showPriceDescription?: boolean;
    showOptionHint?: boolean;
    disabled?: boolean;
    value?: ChoiceButtonProps['value'];
}

const {
    IDName,
    className,
    style,
    attribute = {},
    title,
    price,
    priceDescription,
    optionHint,
    showColorSelector = true,
    showPriceTag = true,
    showPriceDescription = true,
    showOptionHint = true,
    disabled,
    value
} = Astro.props as Props;

const id = `FromProductConfig-${Math.floor(Math.random() * 1000)}`;
---

<ChoiceButton
    id={IDName || id}
    type="checkbox"
    name="product-config"
    inputClassName="product-config-choice"
    disabled={disabled}
    value={value}
    attribute={{ 'data-option': `${title} ${price}` }}
>
    <span class:list={[className, { disabled }, `product-config group`]} style={style} role="button" {...attribute}>
        <div class="product-config-header">
            <div class="product-config-title">
                {
                    showColorSelector && (
                        <span class="product-config-color-selector">
                            <span class="product-config-color-selector-circle" />
                        </span>
                    )
                }
                {title}
            </div>
            {
                showPriceTag && (
                    <div class="product-config-price-tag">
                        <span class="product-config-price">{price}</span>
                        {showPriceDescription && <span class="product-config-price-description">{priceDescription}</span>}
                    </div>
                )
            }
        </div>
        {showOptionHint && <p class="product-config-option-hint">{optionHint}</p>}
    </span>
</ChoiceButton>
