---
/** Style */
import './checkbox.scss';
export interface Props {
    id?: string;
    className?: any;
    required?: boolean;
    disabled?: boolean;
    readonly?: boolean;
    checked?: boolean;
    name?: string;
    label?: string;
    value?: string | number;
    title?: string;
    rounded?: boolean;
    validClass?: string;
    validType?: string;
    validLabel?: string;
    customValidText?: string;
    customInvalidText?: string;
    setRequired?: string;
    attribute?: attribute;
    aria?: aria;
    style?: { [key: string]: string };
}

const {
    id,
    className,
    name,
    required,
    disabled,
    readonly,
    label,
    value,
    checked,
    title,
    rounded,
    validClass,
    validType,
    validLabel,
    customValidText,
    customInvalidText,
    setRequired,
    attribute = {},
    aria = {},
    style
} = Astro.props as Props;
const validAttribute = {
    'data-valid-class': validClass,
    'data-valid-type': validType ? `${validType}|checkbox` : undefined,
    'data-valid-label': validLabel,
    'data-custom-valid-text': customValidText,
    'data-custom-invalid-text': customInvalidText
};
---

<div class:list={['form-check', { 'rounded-check': rounded }, className]} style={style}>
    <input
        id={id}
        class="form-check-input"
        type="checkbox"
        value={value}
        name={name}
        disabled={disabled}
        required={required}
        checked={checked}
        autocomplete="off"
        {...readonly ? { onclick: 'return false;' } : {}}
        data-set-required={setRequired}
        {...attribute}
        {...aria}
        aria-label={title}
        {...validAttribute}
    />
    <label class="form-check-label" for={id}>
        <slot>{label}</slot>
    </label>
</div>

<script>
    const containers = document.querySelectorAll('[data-checkbox="radio"]') as NodeListOf<HTMLElement>;
    [...containers].forEach((x) => {
        const checkboxs = x?.querySelectorAll('input[type="checkbox"]') as NodeListOf<HTMLInputElement>;
        [...checkboxs].forEach((y) => {
            y.addEventListener('change', () => {
                if (y.checked) {
                    [...checkboxs].forEach((x) => (x.checked = false));
                    y.checked = true;
                }
            });
        });
    });

    const checkboxs = document.querySelectorAll('input[type="checkbox"][data-set-required]') as NodeListOf<HTMLInputElement>;
    [...checkboxs].forEach((x) => {
        x.addEventListener('change', () => {
            const inputsString = x.getAttribute('data-set-required');
            if (inputsString) {
                const inputsID = inputsString.split(',');
                const inputs = [...inputsID].map((x) => document.querySelector(x)).filter((x) => !!x);

                if (x.checked) [...inputs].forEach((input) => input?.setAttribute('required', ''));
                if (!x.checked) [...inputs].forEach((input) => input?.removeAttribute('required'));
            }
        });
    });
</script>
