---
/** Select */
import Select from '@components/common/form/select/customSelect.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    data?: select;
}

const { IDName, className, style, attribute = {}, data } = Astro.props as Props;
const componentId = IDName || `sort-${Math.random().toString(36).substr(2, 9)}`;
---

<div
    id={IDName}
    class:list={[
        className,
        ':uno-sort-selector: flex flex-col sm:flex-row sm:items-center gap-0.5rem sm:gap-0.625rem body-01-sh'
    ]}
    style={style}
    {...attribute}
>
    <label class=":uno-sort-selector-label: flex-none" for={componentId}>排序：</label>
    <Select
        id={componentId}
        status="sort"
        className=":uno-sort-selector-select: grow"
        size="sm"
        name='sort'
        data={data}
        selectAttribute={{ 'data-sort': '' }}
        style={{ minWidth: '9.5rem' }}
    />
</div>
