---
/** Common Components */
import Select, { type Props as SelectProps } from '@components/common/form/select/select.astro';
/** Style */
import './customSelect.scss';

export interface Props extends SelectProps {
    selectClassName?: any;
    selectStyle?: { [key: string]: string };
    selectAttribute?: attribute;
    custom?: boolean;
    prebuiltStructure?: boolean;
}

const {
    id,
    data = [],
    className,
    selectClassName,
    required,
    disabled,
    name,
    value,
    placeholder = '請選擇',
    title,
    status,
    size,
    onchange,
    attribute = {},
    selectAttribute = {},
    style = {},
    selectStyle = {},
    custom = true,
    prebuiltStructure = true
} = Astro.props as Props;
---

<div class:list={[{ 'custom-select': custom }, className]} {...attribute} style={style}>
    <Select
        id={id}
        data={data}
        className={[{ 'custom-origin-select': custom }, selectClassName]}
        required={required}
        disabled={disabled}
        name={name}
        value={value}
        title={title}
        status={status}
        size={size}
        placeholder={placeholder}
        onchange={onchange}
        attribute={selectAttribute}
        style={selectStyle}
    />
    {prebuiltStructure && (
        <>
            <div class="select-selected select-selected-placeholder"></div>
            <div class="select-items select-hide"></div>
        </>
    )}
</div>

<script>
    import { closeAllSelect, setSelect } from '@js/components/common/select/customSelect';

    document.addEventListener('click', () => {
        closeAllSelect();
    });
    setSelect();
</script>
