---
/** Common Component */
/** Checkbox */
import Checkbox from '@components/common/form/checkboxs/checkbox.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    showTop?: boolean;
    indeterminate?: boolean;
}

const { IDName, className, style, attribute = {}, showTop = true, indeterminate = true } = Astro.props as Props;
const TopId = IDName || `main-checkbox-${Math.random().toString(36).substr(2, 9)}`;
---

<div
    id={IDName}
    class:list={[
        className,
        ':uno-checkbox-group: w-full flex flex-col gap-0.75rem pt-1.5rem border-t border-gray-200',
        { ':uno-checkbox-group-main: [&>div]:pl-1.5rem': showTop }
    ]}
    style={style}
    data-checkbox-group
    {...attribute}
>
    {
        showTop && (
            <Checkbox id={TopId} title={'Main Term'} indeterminate={indeterminate} attribute={{ 'data-checkbox-main': true }}>
                <slot name="title" />
            </Checkbox>
        )
    }
    <div class=":uno-checkbox-group-inner: w-full flex flex-col gap-0.75rem">
        <slot />
    </div>
</div>

<script>
    ['checked', 'radio'].forEach((type) => {
        const mainCheckbox = document.querySelector(`input[type=${type}][data-checkbox-main]`) as HTMLInputElement;
        mainCheckbox?.addEventListener('change', () => {
            ['checked', 'radio'].forEach((type) => {
                const childrens = mainCheckbox
                    .closest('[data-checkbox-group]')
                    ?.querySelectorAll(`input[type=${type}]:not([data-checkbox-main])`) as NodeListOf<HTMLInputElement>;
                childrens.forEach((child) => {
                    child.checked = mainCheckbox.checked;
                });
            });
        });
    });
</script>
