---
/** Common Component */
/** Link */
import A from '@components/common/link/a.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    data?: { title?: string; link?: string; offset?: string | number | HTMLElement }[];
}

const { IDName, className, style, attribute = {}, data = [] } = Astro.props as Props;
---

<div
    id={IDName}
    class:list={[
        className,
        ':uno-section-nav: w-full h-3.625rem flex items-center justify-center gap-1.25rem md:gap-4rem sticky top-[var(--header-height)] z-10 bg-white border-b border-gray-200'
    ]}
    style={style}
    {...attribute}
>
    {
        data.map((item) => (
            <A
                link={item.link}
                className=":uno-section-nav-link: h-full flex items-center justify-center text-center lt-md:flex-1 border-b-0.125rem border-transparent transition-colors duration-200 ease-in-out hover:border-blue-500 [&.active]:border-blue-500"
                title={item.title}
                extend
                attribute={{
                    'data-spy': true,
                    'data-offset': item.offset
                }}
            >
                {item.title}
            </A>
        ))
    }
</div>

<script>
    /** Modules */
    import { useScrollSpy } from '@js/helpers/hook/useScrollSpy';
    /** Events */
    window.addEventListener('DOMContentLoaded', () => {
        const { trigger } = useScrollSpy({ includeHeaderHeight: true });
        trigger();
    });
</script>
