---
/** Data */
import { memberNavItems as data } from '@components/pages/member/tools/navs';
/** Common Component */
import AcctSideNavTab from './acctSideNavTab.astro';
import AcctSideNavSubTab from './acctSideSubNavTab.astro';
/** Style */
import './acctSideNav.scss';

const activeTab = ['會員中心', '訊息中心', '帳戶設定', '基本資料', '帳號管理', '變更密碼', '我的諮詢夾', '我的收藏清單'] as const;
/** Props */
interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    type?: 'default' | 'indented' | 'side';
    padding?: 'default' | 'width';
    active?: (typeof activeTab)[number];
    activeCollapse?: (typeof activeTab)[number];
}

export type { Props };

const { IDName, className, style, attribute = {}, active = '會員中心', type = 'side', padding = 'width', activeCollapse } = Astro.props as Props;
---

<nav
    id={IDName}
    class:list={['acct-side-nav', className]}
    style={style}
    data-indented={type === 'indented' ? 'true' : undefined}
    data-side={type === 'side' ? 'true' : undefined}
    data-width={padding === 'width' ? 'true' : undefined}
    {...attribute}
>
    <ul class="acct-side-nav-ul">
        {
            data.map((item) => (
                <li>
                    <AcctSideNavTab
                        icon={item.icon}
                        type="stroke"
                        Tag={item.children && item.children.length > 0 ? 'button' : 'a'}
                        hasSub={item.children && item.children.length > 0}
                        attribute={{
                            title: item.label,
                            type: item.children && item.children.length > 0 ? 'button' : null,
                            'data-bs-toggle': item.children && item.children.length > 0 ? 'collapse' : null,
                            'data-bs-target': item.children && item.children.length > 0 ? `#nav-${item.id}` : null,
                            'aria-expanded':
                                item.children && item.children.length > 0 ? (item.label === activeCollapse ? 'true' : 'false') : null,
                            'aria-controls': item.children && item.children.length > 0 ? `nav-${item.id}` : null,
                            ...(item.href ? { href: item.href } : {})
                        }}
                        className={{ active: item.label === active }}
                    >
                        {item.label}
                    </AcctSideNavTab>
                    {item.children && item.children.length > 0 && (
                        <div id={`nav-${item.id}`} class:list={['collapse', item.label === activeCollapse ? 'show' : '']}>
                            {item.children.map((subItem) => (
                                <AcctSideNavSubTab
                                    Tag="a"
                                    attribute={{
                                        href: subItem.href,
                                        title: subItem.label
                                    }}
                                    className={{ active: subItem.label === active }}
                                >
                                    {subItem.label}
                                </AcctSideNavSubTab>
                            ))}
                        </div>
                    )}
                </li>
            ))
        }
    </ul>
</nav>

<script>
    import { Collapse } from 'bootstrap';
</script>
