---
/** Common Component */
/** Pagination */
import Pagination from '@components/common/pagination/pagination.astro';
/** Select */
import Select from '@components/common/form/select/customSelect.astro';
import MySelect from '@components/common/form/select/select.astro';
/** Style */
import './sort.scss';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    type: 'top' | 'bottom';
    start?: number;
    end?: number;
    total?: number;
    active?: number;
    visiblePages?: number;
    showCount?: boolean;
    showPagination?: boolean;
    showSelect?: boolean;
}

const {
    IDName,
    className,
    style,
    attribute = {},
    type = 'bottom',
    start = 10,
    end = 10,
    total = 20,
    active = 1,
    visiblePages = 7,
    showCount = true,
    showPagination = true,
    showSelect = true
} = Astro.props as Props;
const page = total / end;
const pages = Array.from([10, 20, 30, 50], (x) => ({ text: x, value: x }));
---

<div id={IDName} class:list={[className, 'member-sort', type]} style={style} {...attribute}>
    {
        showCount && (
            <span class="member-page-view">
                第 {start} 至 {end} 筆，共 {total} 筆
            </span>
        )
    }
    {showPagination && <Pagination className="member-page-pagination" total={page} active={active} visiblePages={visiblePages} />}
    {
        showSelect && (
            <div class="member-page-size">
                <span>每頁</span>
                <Select
                    data={pages}
                    value={start}
                    attribute={{ 'aria-label': '筆數' }}
                    className="member-page-select"
                    prebuiltStructure
                />
                <span>筆</span>
            </div>
        )
    }
    <!-- 不用客製化 select 可以用這個 -->
    {showSelect && <MySelect className="member-page-select" data={pages} value={start} name="page" style={{ display: 'none' }} />}
</div>
