---
/** Common Component */
/** Button */
import Button from '@components/common/button/button.astro';
import Bookmark from '@components/common/icons/bookmark/bookmark.astro';
/** Style */
import './follower.scss';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    title?: string;
    value?: string;
    option?: string;
}

const {
    IDName = 'SolutionsFollower',
    className,
    style,
    attribute = {},
    title = '智慧採購叫貨系統',
    value = '0',
    option = '基礎版 $10,000 / 月'
} = Astro.props as Props;
---

<div
    id={IDName}
    class:list={[className, 'uno-solutions-follower: min-h-3rem fixed top-[var(--header-height)] inset-x-0 z-50 bg-white']}
    style={style}
    {...attribute}
>
    <form
        class=":uno-solutions-follower-form: container-fluid h-full flex flex-col md:flex-row md:items-center md:justify-between gap-0.5rem md:gap-0.5rem py-0.375rem md:py-0.5rem"
    >
        <h2
            class=":uno-solutions-follower-product-title: flex-1 text-gray-900 font-tt-medium text-base md:text-18 lh-120 md:lh-2rem font-medium"
        >
            {title}
        </h2>
        <div class=":uno-solutions-follower-product-controller: flex items-center justify-end gap-0.5rem flex-none">
            <div>
                <input type="hidden" value={value} data-option />
                <span class=":uno-solutions-follower-product-price: inline-block text-gray-900 font-roboto text-sm md:text-base lh-120 md:lh-2rem font-medium text-right">{option}</span>
            </div>
            <Button type={'submit'} title="立即諮詢" variant="blue" size="xs">立即諮詢</Button>
            <Button type={'button'} title="立即諮詢" variant="blue-outline" size="sm" attribute={{ 'data-favorite': 'true' }}>
                <Bookmark stroke="Thick" status="Normal" />
                加入收藏
            </Button>
            <!-- 移除收藏狀態 -->
            <Button type={'button'} title="立即諮詢" variant="blue-outline" size="sm" attribute={{ 'data-favorite': 'true' }}>
                <Bookmark stroke="Thick" status="Active" />
                移除收藏
            </Button>
        </div>
    </form>
</div>
