---
/** Common Components */
/** Checkbox */
import Checkbox from './checkbox.astro';
/** Style */
import './choiceButton.scss';
export interface Props {
    id?: string;
    className?: any;
    inputClassName?: any;
    labelClassName?: any;
    type: 'checkbox' | 'radio';
    name?: string;
    title?: string;
    value?: string | number;
    required?: boolean;
    disabled?: boolean;
    readonly?: 'readonly';
    checked?: boolean;
    attribute?: attribute;
    inputAttribute?: attribute;
    aria?: aria;
    inputAria?: aria;
}

const {
    id,
    className,
    inputClassName,
    labelClassName,
    type = 'checkbox',
    name,
    title,
    value,
    checked,
    required,
    disabled,
    readonly,
    attribute = {},
    inputAttribute = {},
    aria = {},
    inputAria = {}
} = Astro.props as Props;
---

<div
    id={id ? `${id}FromChoiceButton` : undefined}
    class:list={['form-choice-button', className]}
    data-name={name}
    {...attribute}
    {...aria}
>
    <input
        id={id}
        class:list={['btn-choice', inputClassName]}
        type={type}
        name={name}
        value={value}
        checked={checked}
        readonly={readonly}
        disabled={disabled}
        required={required}
        autocomplete="off"
        aria-label={title}
        {...inputAttribute}
        {...inputAria}
    />
    <label class:list={['btn-choice-label', labelClassName]} for={id}>
        <slot />
    </label>
</div>

<script>
    const containers = document.querySelectorAll('[data-choice-button="radio"]') as NodeListOf<HTMLElement>;
    [...containers].forEach((x) => {
        const checkboxs = x?.querySelectorAll('input[type="checkbox"]') as NodeListOf<HTMLInputElement>;
        [...checkboxs].forEach((y) => {
            y.addEventListener('change', () => {
                if (y.checked) {
                    [...checkboxs].forEach((x) => (x.checked = false));
                    y.checked = true;
                }
            });
        });
    });
</script>
