---
/** Style */
import './radio.scss';
export interface Props {
    id?: string;
    checked?: boolean;
    name?: string;
    value?: string | number;
    label?: string;
    title?: string;
    required?: boolean;
    disabled?: boolean;
    readonly?: 'readonly';
    attribute?: attribute;
    aria?: aria;
}

const {
    id,
    name,
    label,
    value,
    title,
    checked,
    required,
    disabled,
    readonly,
    attribute = {},
    aria = {}
} = Astro.props as Props;
---

<div class="form-check form-radio">
    <input
        id={id}
        class="form-radio-input"
        type="radio"
        value={value}
        name={name}
        checked={checked}
        disabled={disabled}
        readonly={readonly}
        required={required}
        autocomplete="off"
        aria-label={title}
        {...attribute}
        {...aria}
    />
    <label class="form-check-label" for={id}>
        <slot>{label}</slot>
    </label>
</div>
