---
/** Common Components */
/** Modal */
import Modal from '@components/common/modal/modal.astro';
/** InputGroup */
import InputGroup from '@components/common/form/group/inputGroup.astro';
/** Input */
import Input from '@components/common/form/input/input.astro';
/** Link */
import ALink from '@components/common/link/link.astro';
/** Style */
import './comfirm-code.scss';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
}

const { IDName = 'ComfirmCode', className, style, attribute = {} } = Astro.props as Props;
---

<Modal
    id={IDName}
    title="輸入驗證碼"
    Modalclass={className}
    cancelVariant="blue-outline"
    cancelTitle="取消"
    okVariant="blue"
    okTitle="確認驗證"
    okAttribute={{ type: 'submit' }}
    sizes="xl"
    center
    ContentTag="form"
    contentAttribute={{
        action: '',
        id: `${IDName}Form`,
        'data-report-validity': 'false',
        'data-needs-loading': 'true',
        novalidate: true
    }}
    contentClass="needs-validation"
    hideColse={true}
    attribute={attribute}
>
    <p>
        我們已發送驗證碼至您的信箱
        <strong id="verifyEmail"></strong>
        ，請輸入驗證碼以完成登入。
    </p>
    <InputGroup label="請輸入驗證碼" infoText="驗證碼有效期限為 5 分鐘" error errorText="" block>
        <Input
            id="loginVerifyCode"
            name="loginVerifyCode"
            required
            placeholder="請輸入6位數驗證碼"
            attribute={{
                'data-valid': 'async',
                'data-target': 'verifyCode'
            }}
        />
    </InputGroup>
    <div style="margin: 0 auto;">
        <span style="color: var(--color-gray-600);">沒收到驗證碼？</span>
        <ALink IDName="resendCodeBtn">重新發送</ALink>
        <span id="resendCountdown" style="display: none; color: var(--color-gray-600);">(1秒後可重新發送)</span>
    </div>
</Modal>
