---
/** Common Component */
/** Picture */
import Picture from '@components/common/images/picture.astro';
/** PlayBack */
import PlayBack from '@components/common/playBack/playBack.astro';

export interface Props {
    IDName?: string;
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    type?: 'img' | 'video';
    img?: string;
    alt?: string;
    text?: string;
    title?: string;
}

const { IDName, className, style, attribute = {}, type = 'img', img, alt, text, title } = Astro.props as Props;
---

<div
    id={IDName}
    class:list={[
        className,
        ':uno-ivy-card: w-18.5rem min-h-26.375rem md:w-31.25rem flex flex-col justify-center items-center relative border border-gray-500 rounded-xl overflow-hidden'
    ]}
    style={style}
    {...attribute}
>
    {
        img && (
            <img
                class:list={[
                    ':uno-ivy-card-img: size-full grow object-cover object-center rounded-t-xl overflow-hidden',
                    { ':uno-ivy-card-img-video: rounded-b-xl': type === 'video' }
                ]}
                src={img}
                alt={alt}
                title={alt}
                loading="lazy"
                decoding="async"
            />
        )
    }
    {
        type === 'video' && (
            <div class=":uno-ivy-card-video: size-full flex items-center justify-center absolute top-0 left-0">
                <PlayBack
                    size="48"
                    attribute={{
                        title,
                        'data-toggle': 'video',
                        'data-bs-toggle': 'modal',
                        'data-bs-target': '#VideoModal',
                        'data-auto': 'false'
                    }}
                />
            </div>
        )
    }
    {
        Boolean(type === 'img' && text) && (
            <div class=":uno-ivy-card-text: flex flex-col justify-center items-center flex-none p-1.5rem pt-1rem bg-white rounded-b-xl text-gray-900 tt-md-16">
                {text}
            </div>
        )
    }
</div>
