---
/** Common Component */
/** Picture */
import Picture from '@components/common/images/picture.astro';
/** Select */
import Select from '@components/common/form/select/customSelect.astro';
/** Link */
import ALink from '@components/common/link/link.astro';
/** Link */
import A from '@components/common/link/a.astro';
/** Style */
import './card.scss';

export interface Props {
    className?: any;
    attribute?: attribute;
    style?: { [key: string]: string };
    id?: string;
    title?: string;
    label?: string;
    brief?: string;
    amount?: number;
    img?: string;
    readonly?: boolean;
}

const { id, className, style, attribute = {}, title, label, brief, amount = 1, img, readonly = false } = Astro.props as Props;
---

<div id={id} class:list={[className, 'inquery-card', { 'readonly': readonly }]} style={style} {...attribute}>
    {!readonly && <Picture img={img} className="inquery-card-img" width={232} height={131} alt={title} noWebp />}
    <div class="inquery-card-body">
        <div class="inquery-card-content">
            <A link={`/solution/${id}`} className="inquery-card-link" title={title}>
                <strong class="inquery-card-title">
                    {title}
                </strong>
            </A>
            <span class="inquery-card-label">{label}</span>
            <span class="inquery-card-brief">{brief}</span>
        </div>
        {
            !readonly && (
                <div class="inquery-card-controller">
                    <Select
                        id={`inquery-amount-${id}`}
                        className="inquery-card-select"
                        value={amount}
                        data={Array.from({ length: 100 }, (_, i) => ({ value: i + 1, text: i + 1 }))}
                        placeholder='請選擇'
                        title={`數量 ${amount}`}
                        attribute={{ 'data-id': id }}
                    />
                    <ALink title="移除" className="inquery-card-remove" attribute={{ 'data-id': id }}>
                        移除
                    </ALink>
                </div>
            )
        }
        {
            readonly && (
                <div class="inquery-card-quantity">x{amount}</div>
            )
        }
    </div>
</div>
