---
/** Type */
import type { dataType } from './data';
/** Common Component */
import MySectionForm from '@components/common/section/form.astro';
/** InputGroup */
import InputGroup from '@components/common/form/group/inputGroup.astro';
/** Input */
import Input from '@components/common/form/input/input.astro';
/** Select */
import Select from '@components/common/form/select/customSelect.astro';
/** Textarea */
import Textarea from '@components/common/form/textarea.astro';
/** Button */
import Button from '@components/common/button/button.astro';
/** Main Component */
import Card from './card.astro';
/** Style */
import './form.scss';

export interface Props {
    IDName?: string;
    className?: className;
    attribute?: attribute;
    style?: { [key: string]: string };
    data: dataType;
}

const { IDName = 'Inquery', className, style, attribute = {}, data = [] } = Astro.props as Props;
---

<MySectionForm
    IDName={IDName}
    type={2}
    display="grid"
    title="諮詢清單"
    block
    className={['needs-validation', className]}
    attribute={{ novalidate: '', 'data-needs-loading': 'true', 'data-report-validity': 'false', ...attribute }}
    style={style}
>
    <div
        class=":uno-inquery-cart: w-full mb-2rem mx-auto py-2.5rem md:py-3rem px-1.5rem md:px-2.5rem bg-white rounded-xl"
        slot="top"
    >
        <div
            class=":uno-inquery-form-head: w-full flex items-center justify-between flex-wrap gap-y-0.75rem gap-x-1.875rem pb-1.5rem xl:pb-2rem"
            slot="sub-title"
        >
            <h2 class=":uno-inquery-title: flex-none text-gray-900 font-tt-medium text-30 lh-120 font-medium text-left">
                方案清單
            </h2>
            <span class=":uno-inquery-cart-amount: text-gray-900 font-roboto text-16 lh-120 text-right">
                合計詢問
                <b class=":uno-inquery-cart-amount-number: font-medium">2</b>
                個方案
            </span>
        </div>
        <div class="w-full flex flex-col items-center gap-1.5rem">
            {data.map((x) => <Card id={x.id} title={x.title} label={x.label} brief={x.brief} amount={x.amount} img={x.img} required />)}
        </div>
    </div>
    <div
        class=":uno-inquery-form-head: w-full flex items-center justify-between flex-wrap gap-y-0.75rem gap-x-1.875rem pb-1.5rem xl:pb-2rem"
        slot="sub-title"
    >
        <h2 class=":uno-inquery-title: flex-none text-gray-900 font-tt-medium text-30 lh-120 font-medium text-left">聯絡資訊</h2>
    </div>
    <div class=":uno-section-form-grid-item: flex flex-col gap-1.5rem">
        <InputGroup inputID="companyName" label="公司名稱" error block>
            <Input id="companyName" name="companyName" required />
        </InputGroup>
        <InputGroup inputID="taxId" label="統編" error block>
            <Input id="taxId" name="taxId" type="text" inputmode="numeric" minLength={8} maxLength={8} required />
        </InputGroup>
        <InputGroup inputID="department" label="部門" error block>
            <Select
                id="department"
                name="department"
                data={[
                    { text: 'IT部門', value: 'IT部門' },
                    { text: '財務部門', value: '財務部門' }
                ]}
                value="IT部門"
                required
            />
        </InputGroup>
        <InputGroup inputID="position" label="職稱" error block>
            <Input id="position" name="position" required />
        </InputGroup>
        <InputGroup inputID="tel" label="公司電話" error block>
            <Input id="tel" name="tel" type="tel" inputmode="tel" required />
        </InputGroup>
    </div>
    <div class=":uno-section-form-grid-item: flex flex-col gap-1.5rem">
        <InputGroup inputID="name" label="聯絡姓名" error block>
            <Input id="name" name="name" required />
        </InputGroup>
        <InputGroup inputID="cellphone" label="聯絡手機" error block>
            <Input id="cellphone" name="cellphone" type="tel" inputmode="tel" required />
        </InputGroup>
        <InputGroup inputID="email" label="聯絡信箱" error block>
            <Input id="email" name="email" type="email" inputmode="email" required />
        </InputGroup>
        <InputGroup inputID="comment" label="備註" block>
            <Fragment slot="label-right">
                <small>&nbsp;(非必填)</small>
            </Fragment>
            <Textarea id="comment" name="comment" style={{ 'min-height': '8.625rem' }} />
        </InputGroup>
        <div class=":uno-form-button-container: flex items-center justify-end mt-0.5rem">
            <Button type={'submit'} className=":uno-form-button: xl:max-w-9.75rem" title="送出" variant="blue" block>
                送出
            </Button>
        </div>
    </div>
</MySectionForm>
